@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.elementor-widget-For_autoGestion_PAYVALIDA {
  &,
  * {
    box-sizing: border-box;
  }
  .content_wi {
    display: flex;
    justify-content: var(--alignment, center);
    flex-wrap: wrap;
  }
  h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--color-title, #fff);
    font-family: "Nunito", Sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 35px;
    }
    @media (max-width: 575px) {
      font-size: 30px;
    }
  }
  .form_api,
  .curbe_s {
    position: relative;
    padding: 20px 30px;
    box-shadow: 3px 3px 7px hsla(0, 0%, 0%, 0.5);
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
    width: 100%;
    background-color: var(--background-color-form, #fff);
    @media (max-width: 575px) {
      padding: 20px 10px;
    }

    &:empty,
    &.none {
      display: none;
    }
    &.loader {
      position: relative;
      overflow: hidden;
      > * {
        z-index: 1;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 5;
      }
      &:before {
        background-color: hsla(0, 0%, 100%, 0.5);
        z-index: 3;
        width: 100%;
        height: 100%;
      }
      &:after {
        width: 100px;
        height: 100px;
        border: 10px solid var(--color-loader, #002f47);
        border-top-color: transparent !important;
        border-radius: 100%;
        transition: 1s;
        animation: loader 1s infinite;
        @keyframes loader {
          to {
            transform: rotateZ(360deg);
          }
        }
      }
    }
    .content_select,
    .content_input,
    .content_submit {
      width: 100%;
      margin-bottom: 15px;
    }
    .content_input {
      display: none;
    }
    &[select="email_payvalida"] .email_payvalida {
      display: block;
    }

    &[select="referencia_payvalida"] .referencia_payvalida {
      display: block;
    }
    h2,
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      color: var(--color-sub-title, #002f47);
      font-family: "Nunito", Sans-serif;
      font-size: 40px;
      font-weight: 800;
      line-height: 1;
      @media (max-width: 575px) {
        font-size: 26px;
      }
    }
    h3 {
      font-size: 30px;
      @media (max-width: 575px) {
        font-size: 20px;
      }
    }

    label,
    p {
      display: block;
      font-size: 16px;
      font-weight: 700;
      color: #7a7a7a;
      font-family: "Nunito", Sans-serif;
      margin-bottom: 10px;
    }
    input,
    select {
      background-color: var(--background-color-input, #ffffff);
      border-color: var(--border-color-input, #e4e4e4);
      border-radius: 3px 3px 3px 3px;
      color: var(--color-input, #7a7a7a);
      font-family: "Nunito", Sans-serif;
      width: 100%;
      height: 54px;
      font-size: 16px;
      font-weight: 400;
      padding-bottom: 15px;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 15px;
    }
    button {
      background-color: var(--background-color-button, #002f47);
      color: var(--color-button, #ffffff);
      font-family: "Nunito", Sans-serif;
      font-weight: 900;
      transition: 0.5s;
      border-radius: 4px;
      font-size: 16px;
      line-height: 1;
      text-transform: none;
      padding: 15px 20px;
      width: 100%;
      border: 0;
      &:hover {
        outline: none;
        text-decoration: none;
        background-color: var(--background-color-button-hover, #fff);
        color: var(--color-button-hover, #002f47);
      }
    }
    table,
    td,
    tr {
      border: 0;
      padding: 5px;
      word-break: initial;
      font-weight: 400;
      font-family: "Nunito", Sans-serif;
      font-size: 13px;
      color: var(--color-table, #3a3a3a);
      background-color: transparent;
      &.key {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 16px;
      }
      @media (max-width: 575px) {
        display: block;
      }
    }
    tr:not(:last-child) {
      border-bottom: 1px solid #e4e4e4;
    }
    tr:last-child {
      padding-bottom: 20px;
    }
    table {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 50px;
        position: relative;
        overflow: visible;
        &:after {
          content: "";
          display: block;
          width: 100%;
          position: absolute;
          bottom: -25px;
          left: 0;
          border-bottom: 3px dashed #757474;
        }
      }
    }
  }
  @function box() {
    $op: random(10) / 10;
    $c: hsla(0, 0%, 100%, $op);
    $box: #{random(2000) - 1000}px #{random(2000) - 1000}px #{0}px #{random(20)}px +
      " " + $c + ",";
    @for $i from 1 through 100 {
      $op: random(10) / 10;
      $c: hsla(0, 0%, 100%, $op);
      $box: $box +
        #{random(2000) -
        1000}px
        #{random(2000) -
        1000}px
        #{0}px
        #{random(20)}px +
        " " +
        $c +
        ",";
    }
    $op: random(10) / 10;
    $c: hsla(0, 0%, 100%, $op);
    $box: $box + #{random(2000) - 1000}px #{random(2000) - 1000}px #{0}px #{random(
        20
      )}px + " " + $c;
    @return $box;
  }
}
