@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.elementor-widget-For_autoGestion_PAYVALIDA,
.elementor-widget-For_autoGestion_PAYVALIDA * {
  box-sizing: border-box;
}
.elementor-widget-For_autoGestion_PAYVALIDA .content_wi {
  display: flex;
  justify-content: var(--alignment, center);
  flex-wrap: wrap;
}
.elementor-widget-For_autoGestion_PAYVALIDA h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--color-title, #fff);
  font-family: "Nunito", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
}
@media (max-width: 767px) {
  .elementor-widget-For_autoGestion_PAYVALIDA h1 {
    font-size: 35px;
  }
}
@media (max-width: 575px) {
  .elementor-widget-For_autoGestion_PAYVALIDA h1 {
    font-size: 30px;
  }
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s {
  position: relative;
  padding: 20px 30px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-width: 700px;
  margin: 20px auto;
  width: 100%;
  background-color: var(--background-color-form, #fff);
}
@media (max-width: 575px) {
  .elementor-widget-For_autoGestion_PAYVALIDA .form_api,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s {
    padding: 20px 10px;
  }
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api:empty, .elementor-widget-For_autoGestion_PAYVALIDA .form_api.none,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s:empty,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s.none {
  display: none;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api.loader,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s.loader {
  position: relative;
  overflow: hidden;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api.loader > *,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s.loader > * {
  z-index: 1;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api.loader:before, .elementor-widget-For_autoGestion_PAYVALIDA .form_api.loader:after,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s.loader:before,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api.loader:before,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s.loader:before {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 3;
  width: 100%;
  height: 100%;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api.loader:after,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s.loader:after {
  width: 100px;
  height: 100px;
  border: 10px solid var(--color-loader, #002f47);
  border-top-color: transparent !important;
  border-radius: 100%;
  transition: 1s;
  animation: loader 1s infinite;
}
@keyframes loader {
  to {
    transform: rotateZ(360deg);
  }
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api .content_select,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api .content_input,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api .content_submit,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s .content_select,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s .content_input,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s .content_submit {
  width: 100%;
  margin-bottom: 15px;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api .content_input,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s .content_input {
  display: none;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api[select=email_payvalida] .email_payvalida,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s[select=email_payvalida] .email_payvalida {
  display: block;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api[select=referencia_payvalida] .referencia_payvalida,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s[select=referencia_payvalida] .referencia_payvalida {
  display: block;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api h2,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api h3,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s h2,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s h3 {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--color-sub-title, #002f47);
  font-family: "Nunito", Sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
}
@media (max-width: 575px) {
  .elementor-widget-For_autoGestion_PAYVALIDA .form_api h2,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api h3,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s h2,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s h3 {
    font-size: 26px;
  }
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api h3,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s h3 {
  font-size: 30px;
}
@media (max-width: 575px) {
  .elementor-widget-For_autoGestion_PAYVALIDA .form_api h3,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s h3 {
    font-size: 20px;
  }
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api label,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api p,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s label,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s p {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #7a7a7a;
  font-family: "Nunito", Sans-serif;
  margin-bottom: 10px;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api input,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api select,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s input,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s select {
  background-color: var(--background-color-input, #ffffff);
  border-color: var(--border-color-input, #e4e4e4);
  border-radius: 3px 3px 3px 3px;
  color: var(--color-input, #7a7a7a);
  font-family: "Nunito", Sans-serif;
  width: 100%;
  height: 54px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 15px;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api button,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s button {
  background-color: var(--background-color-button, #002f47);
  color: var(--color-button, #ffffff);
  font-family: "Nunito", Sans-serif;
  font-weight: 900;
  transition: 0.5s;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1;
  text-transform: none;
  padding: 15px 20px;
  width: 100%;
  border: 0;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api button:hover,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s button:hover {
  outline: none;
  text-decoration: none;
  background-color: var(--background-color-button-hover, #fff);
  color: var(--color-button-hover, #002f47);
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api table,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api td,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api tr,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s table,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s td,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s tr {
  border: 0;
  padding: 5px;
  word-break: initial;
  font-weight: 400;
  font-family: "Nunito", Sans-serif;
  font-size: 13px;
  color: var(--color-table, #3a3a3a);
  background-color: transparent;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api table.key,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api td.key,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api tr.key,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s table.key,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s td.key,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s tr.key {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 16px;
}
@media (max-width: 575px) {
  .elementor-widget-For_autoGestion_PAYVALIDA .form_api table,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api td,
.elementor-widget-For_autoGestion_PAYVALIDA .form_api tr,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s table,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s td,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s tr {
    display: block;
  }
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api tr:not(:last-child),
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s tr:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api tr:last-child,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s tr:last-child {
  padding-bottom: 20px;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api table,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s table {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api table:not(:last-child),
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s table:not(:last-child) {
  margin-bottom: 50px;
  position: relative;
  overflow: visible;
}
.elementor-widget-For_autoGestion_PAYVALIDA .form_api table:not(:last-child):after,
.elementor-widget-For_autoGestion_PAYVALIDA .curbe_s table:not(:last-child):after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -25px;
  left: 0;
  border-bottom: 3px dashed #757474;
}

/*# sourceMappingURL=style_widget.css.map */
